.title {
    background-color: rgb(65, 70, 82);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 38px;
    font-family: 'Bellota', cursive;
}

.footer {
    padding: 50px 50px;
    text-align: center;
}
 
.daysRow{
    display: grid;
    grid-template-columns: 150px 150px 150px 100px 100px;
    grid-column-gap: 20px;

} 



.block {
    color: white;
    background-color: cornflowerblue;
    text-align: center;
    height: 120px;
    width: 150px;
    padding: 25px 25px 105px 25px;
    
    
    border-radius: 10px;
    
}

.history-list {
    cursor: pointer;
    color: white;

}

li {
    color: white;
    border-style: none;
    background-color: cornflowerblue;
    border-radius: 10px;
    

}

li:hover {
    color: white;
}



